@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
/* font-family: 'Josefin Sans', sans-serif; */

body{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.content-main{
  position: relative;
  top: 3rem;
  left: 7rem;
  max-width: 400px;
}

.content-main p{
  margin-top: 20px;
  line-height: 1.2rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: hsl(0, 36%, 70%);
}

.h1_1, .h1_2, .content-main p{
  font-family: 'Josefin Sans', sans-serif;
  
}

.h1_1{
  margin-top: 5rem;
  font-weight: 300;
  font-size: 4rem;
  letter-spacing: 1rem;
  color: hsl(0, 36%, 70%);
}

.h1_2{
  font-weight: 600;
  font-size: 4rem;
  letter-spacing: 1rem;
  color: hsl(0, 6%, 24%);
}

.section-content{
  height: 100vh;
  width: 60vw;
  background-image: url(../images/bg-pattern-desktop.svg);
}

.section-image{
  width: 40vw;
}

.img-modelo{
  height: 100vh;
  width: 40vw;
}


.forms{
  position: relative;
}
input[type=text]{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  color: hsl(0, 74%, 74%);
  margin-top: 3rem;
  width: 400px;
  height: 50px;
  border-radius: 40px;
  padding: 20px;
  border: solid 1.5px hsl(0, 45%, 91%);
}

input[type=text]::placeholder{
  font-family: 'Josefin Sans', sans-serif;
  color: hsl(0, 36%, 83%);
  font-size: 1rem;
  padding-left: 1.2rem;
}

input[type=text]:focus {
  border: 2px solid hsl(0, 80%, 86%);
  outline: none;
}

.button{
  cursor: pointer;
  position: absolute;
  top: 47px;
  left: 301px;
  height: 51px;
  width: 100px;
  border-radius: 39px;
  border: none;
  background-image: linear-gradient(to right, hsl(0, 80%, 86%) , hsl(0, 74%, 74%));
  transition: 0.5s;
}

.button:hover{
  background: hsl(0, 57%, 91%);
}

.error{
  position: absolute;
  top: 60px;
  left: 265px;
}

.valid{
  display: none;
  opacity: 0;
  transition: 0.5s;
}

.invalid{
  opacity: 1;
  transition: 0.5s;
}

#mensagem-erro{
  font-family: 'Josefin Sans', sans-serif;
  color:hsl(0, 80%, 52%);
  font-size: 0.8rem;
  margin-top: 0.4rem;
  margin-left: 2rem;
}

input[type=text].invalid {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  color: hsl(0, 74%, 74%);
  margin-top: 3rem;
  width: 400px;
  height: 50px;
  border-radius: 40px;
  padding: 20px;
  border: 2px solid hsl(0, 80%, 52%);
}